<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uxunchina.changsha.common.aut.dao.OperatorDao" >
  <resultMap id="BaseResultMap" type="com.uxunchina.changsha.common.aut.pojo.po.OperatorPo" >
    <id column="OPERATOR_ID" property="operatorId" jdbcType="VARCHAR" />
    <result column="USERNAME" property="username" jdbcType="VARCHAR" />
    <result column="USERNAME_CN" property="usernameCn" jdbcType="VARCHAR" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    OPERATOR_ID, USERNAME, USERNAME_CN, USER_PASSWORD
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_AUT_OPERATOR
    where OPERATOR_ID = #{operatorId,jdbcType=VARCHAR}
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from T_AUT_OPERATOR
    where USERNAME = #{userName,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_AUT_OPERATOR
    where OPERATOR_ID = #{operatorId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uxunchina.changsha.common.aut.pojo.po.OperatorPo" >
    insert into T_AUT_OPERATOR (OPERATOR_ID, USERNAME, USERNAME_CN, 
      USER_PASSWORD)
    values (#{operatorId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{usernameCn,jdbcType=VARCHAR}, 
      #{userPassword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uxunchina.changsha.common.aut.pojo.po.OperatorPo" >
    insert into T_AUT_OPERATOR
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="operatorId != null" >
        OPERATOR_ID,
      </if>
      <if test="username != null" >
        USERNAME,
      </if>
      <if test="usernameCn != null" >
        USERNAME_CN,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="operatorId != null" >
        #{operatorId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="usernameCn != null" >
        #{usernameCn,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uxunchina.changsha.common.aut.pojo.po.OperatorPo" >
    update T_AUT_OPERATOR
    <set >
      <if test="username != null" >
        USERNAME = #{username,jdbcType=VARCHAR},
      </if>
      <if test="usernameCn != null" >
        USERNAME_CN = #{usernameCn,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
    </set>
    where OPERATOR_ID = #{operatorId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uxunchina.changsha.common.aut.pojo.po.OperatorPo" >
    update T_AUT_OPERATOR
    set USERNAME = #{username,jdbcType=VARCHAR},
      USERNAME_CN = #{usernameCn,jdbcType=VARCHAR},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR}
    where OPERATOR_ID = #{operatorId,jdbcType=VARCHAR}
  </update>


</mapper>