<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uxunchina.changsha.common.aut.dao.RolePermissionDao" >
  <resultMap id="BaseResultMap" type="com.uxunchina.changsha.common.aut.pojo.po.RolePermissionPo" >
    <result column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="PERMISSION_ID" property="permissionId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.uxunchina.changsha.common.aut.pojo.po.RolePermissionPo" >
    insert into T_AUT_ROLE_PERMISSION (ROLE_ID, PERMISSION_ID)
    values (#{roleId,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.uxunchina.changsha.common.aut.pojo.po.RolePermissionPo" >
    insert into T_AUT_ROLE_PERMISSION
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="permissionId != null" >
        PERMISSION_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="permissionId != null" >
        #{permissionId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="selectByRoleId" resultMap="BaseResultMap" >
    select ROLE_ID,PERMISSION_ID from T_AUT_ROLE_PERMISSION where ROLE_ID=#{roleId,jdbcType=VARCHAR}

  </select>
</mapper>