<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.uxunchina.changsha.common.aut.dao.RoleDao" >
  <resultMap id="BaseResultMap" type="com.uxunchina.changsha.common.aut.pojo.po.RolePo" >
    <id column="ROLE_ID" property="roleId" jdbcType="VARCHAR" />
    <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
    <result column="ROLE_DESC" property="roleDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ROLE_ID, ROLE_NAME, ROLE_DESC
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from T_AUT_ROLE
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from T_AUT_ROLE
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.uxunchina.changsha.common.aut.pojo.po.RolePo" >
    insert into T_AUT_ROLE (ROLE_ID, ROLE_NAME, ROLE_DESC
      )
    values (#{roleId,jdbcType=VARCHAR}, #{roleName,jdbcType=VARCHAR}, #{roleDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.uxunchina.changsha.common.aut.pojo.po.RolePo" >
    insert into T_AUT_ROLE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="roleName != null" >
        ROLE_NAME,
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=VARCHAR},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        #{roleDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.uxunchina.changsha.common.aut.pojo.po.RolePo" >
    update T_AUT_ROLE
    <set >
      <if test="roleName != null" >
        ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDesc != null" >
        ROLE_DESC = #{roleDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.uxunchina.changsha.common.aut.pojo.po.RolePo" >
    update T_AUT_ROLE
    set ROLE_NAME = #{roleName,jdbcType=VARCHAR},
      ROLE_DESC = #{roleDesc,jdbcType=VARCHAR}
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </update>
  <select id="selectRolesByResource" resultMap="BaseResultMap" parameterType="string" >
       SELECT A.ROLE_ID,A.ROLE_NAME,A.ROLE_DESC FROM  T_AUT_ROLE A
             LEFT JOIN   T_AUT_ROLE_PERMISSION B ON A.ROLE_ID =  B.ROLE_ID
             WHERE B.PERMISSION_ID=#{permissionId,jdbcType=VARCHAR}
  </select>

  <select id="selectRolesByOperatorId" resultMap="BaseResultMap">
         SELECT A.ROLE_ID,A.ROLE_NAME,A.ROLE_DESC FROM  T_AUT_ROLE A
                   LEFT JOIN   T_AUT_USER_ROLE  B ON A.ROLE_ID =  B.ROLE_ID
                   WHERE B.OPERATOR_ID=#{operatorId,jdbcType=VARCHAR}
  </select>
</mapper>